.DS_Store
*aux
*.blg
*.log
*.bbl 
figs_work
figs_work/*
figs_pre_mt
figs_pre_mt/*
figs3/work
.*swp*
ms.aux 
ms.bbl 
ms.blg 
ms.log
main.aux 
main.bbl 
main.blg 
main.log 
main.bbl
main.bbl
main.pdf
mainNotes.bib
00_main.toc 
00_mainNotes.bib
00_main.pdf
trash
old_bibs
*out
*toc
